<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring">
    <output-path>D:/Apache Software Foundation/apache-tomcat-8.5.35/webapps/Spring</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring" />
        </element>
      </element>
    </root>
  </artifact>
</component>